data/api_keys.txt
eda2.ipynb
data/sarimax_gridsearch*.csv
data/*_tuning*.csv
models/*
!models/xgb_anchored_final.ubj
data/NOAA GFS/processed
data/Marktstammdatenregister/Gesamtdatenexport_20260101_25.2
data/Marktstammdatenregister/Gesamtdatenexport_20260101_25.2.zip
.vscode
.DS_Store
make_variable_table.py
