data/api_keys.txt
plots.ipynb
data/sarimax_*.csv
data/*_tuning*.csv
models/*
!models/xgb_anchored_final.ubj
data/NOAA GFS/processed
data/Marktstammdatenregister/Gesamtdatenexport_20260101_25.2
data/Marktstammdatenregister/Gesamtdatenexport_20260101_25.2.zip
.vscode
.DS_Store
make_variable_table.py
assets/*
!assets/validation_results.png
!assets/test_results.png
